// modules/policies/templates/kv_admin.hcl.tmpl
# [ADMIN] ${mount}
%{ for p in subpaths ~}
path "${mount}/metadata/${p}"   { capabilities = ["create","read","update","delete","list"] }
path "${mount}/data/${p}"     { capabilities = ["create","read","update","delete","list"] }
%{ endfor ~}
