// modules/policies/templates/kv_write.hcl.tmpl
# [RW] ${mount}
%{ for p in subpaths ~}
path "${mount}/metadata/${p}"   { capabilities = ["list"] }
path "${mount}/data/${p}"     { capabilities = ["create","update","read"] }
%{ endfor ~}
